html {
    margin: 9px;
    padding: 9px;
}
body{
    background-color: Lavender; 
    }
h1{
    color:darkred ; 
    font-family: times-new-roman;
}
h2{ 

    color: indianred; 
    font-family:times-new-roman;
} 
h3{
    color: firebrick;
    font-family: times-new-roman;
}
p{
    color: maroon;
    font-family: georgia ;
}
